<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Lista frequências FM</title>
    <meta charset="utf-8">
  </head>
  <body>
      <h1>Frequências FM</h1>
    <table border="1">
        <tr>
            <td>Entidade</td>
            <td>UF</td>
            <td>Localidade</td>
            <td>Frequência</td>
        </tr>
        <tr>
            <td>RADIO MINUANO DE ALEGRETE LTDA</td>
            <td>RS</td>
            <td>Alegrete</td>
            <td>97,5 MHz</td>
        </tr>
        <tr>
          <td>RADIO LIBERDADE</td>
          <td>RS</td>
          <td>Porto Alegre</td>
          <td>83,3 MHz</td>
        </tr>
        </table>
  </body>
</html>
